@{
    ViewBag.Title = "任务管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var processTypes = ViewBag.ProcessTypes as Taobao.Workflow.Activities.Client.ProcessType[];
    var total = ViewBag.Total;
    var workItems = ViewBag.WorkItems;
    var page = Convert.ToInt32(Request["p"]);
    page = page == 0 ? 1 : page;
    
    string type = ViewBag.Type;
    string processTitle = ViewBag.ProcessTitle ?? "";
    string actioner = ViewBag.Actioner ?? "";
    string activityName = ViewBag.ActivityName ?? "";
    string status = ViewBag.Status ?? "";
}

@using Taobao.Workflow.Activities.AdminWeb.Controllers

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <h3>流程类型：@Html.DropDownList("type", processTypes
    .Select(o => new SelectListItem() { Text = o.Description + "-" + o.Name, Value = o.Name })) 
    流程标题：@Html.TextBox("processTitle", processTitle, new { style = "width:150px" }) 
    <br />
    执行人：@Html.TextBox("actioner", actioner, new { style = "width:150px" }) 
    节点名：@Html.TextBox("activityName", activityName, new { style = "width:150px" }) 
    流程状态：@Html.DropDownList("status", typeof(Taobao.Workflow.Activities.Client.WorkItemStatus).GetEnumNames()
        .Select(o => new SelectListItem() { Text = EnumHelper.ToWorkItemStatusName(o), Value = o }), "--请选择--") 
    <input type="submit" value="查询" />
    </h3>
}

<h3>
    总数=@total
</h3>
<table border="1">
    <tr>
        <th>
            流程类型
        </th>
        <th>
            流程标题
        </th>
        <th>
            节点名
        </th>
        <th>
            执行人
        </th>
        <th>
            开始时间
        </th>
        <th>
            状态
        </th>
        <th>
            操作
        </th>
    </tr>
    @if (workItems != null)
    {
        foreach (Taobao.Workflow.Activities.Client.WorkItem workItem in workItems)
        {
            <tr>
                <td>@workItem.ProcessTypeName
                </td>
                <td>@workItem.ProcessTitle
                </td>
                <td>@workItem.ActivityName
                </td>
                <td>@workItem.Actioner
                </td>
                <td>@workItem.ArrivedTime
                </td>
                <td>@EnumHelper.ToWorkItemStatusName(workItem.Status.ToString())
                </td>
                <td><input class="redirectWorkItem_js" type="button" value="转交" tag="@workItem.ID" fromUser="@workItem.Actioner" /> 
                <input class="releaseWorkItem_js" type="button" value="释放" tag="@workItem.ID" /> 
                </td>
            </tr>
        }
    }
</table>

@Html.ActionLink("首页", "Index", new
{
    p = 1,
    type = type,
    processTitle = processTitle,
    actioner = actioner,
    activityName = activityName,
    status = status,   
}) 
@Html.ActionLink("上一页", "Index", new
{
    p = page - 1,
    type = type,
    processTitle = processTitle,
    actioner = actioner,
    activityName = activityName,
    status = status,  
}) 
@Html.ActionLink("下一页", "Index", new
{
    p = page + 1,
    type = type,
    processTitle = processTitle,
    actioner = actioner,
    activityName = activityName,
    status = status,  
}) 

<script type="text/javascript">
    $(function () {
        $('.releaseWorkItem_js').click(function () {
            var tag = $(this).attr('tag');
            $.ajax({
                url: '/WorkItem/ReleaseWorkItem',
                type: 'post',
                data: {
                    workItemId: tag
                },
                success: function (result) {
                    if (result == '') {
                        location.reload();
                    }
                }
            });
        });

        $('.redirectWorkItem_js').click(function () {
            var tag = $(this).attr('tag');
            var fromUser = $(this).attr('fromUser');
            location.href = '/WorkItem/Redirect?workItemId=' + tag + '&fromUser=' + fromUser;
        });
    });
</script>
